:host {
  display: block;
  width: 100%;
}
button {
  all: unset;
  display: block;
  box-sizing: border-box;
  padding: 7 16px;
  border: 1px solid #c6cacc;
  border-radius: 2px;
  color: #333;
  font: 600 14px/20px Inter, sans-serif;
  text-align: center;
  background-color: #fff;
  transition: all 0.3s ease-in;
  cursor: pointer;
  &:hover {
    border: 1px solid #1a73e8;
    color: #fff;
    background-color: #1a73e8;
    transition: all 0.15 ease-out;
  }
}
